* {
    margin: 0;
}

.container {
    height: 84vh;
    background-color: powderblue;
    font-size: 1em;
    margin: auto;
    max-width: 144em;
    padding-left: 16em;
    padding-top: 8vh;
    text-align: center;
}

#nav{
    width: 100vw;
    height: 8vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-item {
    font-size: 5em;
    color: white;
    font-family: 'Dongle', sans-serif;
}

#freePlay {
    color: powderblue;
}

a{
    text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1 {
    font-family: 'Dongle', sans-serif;
    font-size: 15em;
    margin: 0 auto 0 -1em;
    z-index: 1;
}
/* .stave {
    /*   display: flex; *
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*   grid-template-rows: 1 1fr; *
    border: 2px solid black;
    background: linear-gradient(to bottom, #fff, #fff 24%, #000 24%, #000 26%, #fff 26%,#fff 49%, #000 49%, #000 51%, #fff 51%, #fff 74%, #000 74%, #000 76%, #fff 76%);
    margin: 0px;
    padding: 0px;
    padding-left: 1em;
    /*   justify-content: space-around; *
} */

.bar {
    background-image: url("img/stave.svg");
    background-size: auto 100%;
    background-repeat: repeat-x;
    height: 16em;
    position: relative;
    width: 32em;
    margin: 0 auto;
    z-index: 1;
}

.bar .stave-header {
    background-image: url("img/stave-header.svg");
    background-size: auto 100%;
    height: 16em;
    left: -16em;
    position: absolute;
    width: 16em;
    z-index: 1;
}

/* .bar:first-child .stave-header {
background-image: url("img/stave-header-time-signature.svg");
} */

.bar-line {
    background-color: transparent;
    background-image: url("img/bar-line.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 16em;
    position: absolute;
    right: 0;
    width: 1em;
    z-index: 1;
}

.quarter-note {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 100%;
    float: left;
    grid-column: span 4;
    height: 16em;
    justify-self: center;
    margin: 0 2.58em;
    width: 2.83em;
    z-index: 1;
}

.quarter-note {
    background-image: url("img/quarter-note-down.svg");
}

.quarter-note.a4, .quarter-note.g4, .quarter-note.f4, .quarter-note.e4, .quarter-note.d4, .quarter-note.c4 {
    background-image: url("img/quarter-note-up.svg");
}

.sharp::before {
    background-image: url("img/sharp.svg");
    background-size: 18px 57px;
    display: inline-block;
    width: 18px; 
    height: 57px;
    margin-top: 100px;
    margin-left: -60px;
    content:"";
    z-index: 1;
}

.e6 {
    transform: translate(0, -10em);
}

.d6 {
    transform: translate(0, -9em);
}

.c6 {
    transform: translate(0, -8em);
}

.b5 {
    transform: translate(0, -7em);
}

.a5 {
    transform: translate(0, -6em);
}

.g5 {
    transform: translate(0, -5em);
}

.f5 {
    transform: translate(0, -4em);
}

.e5 {
    transform: translate(0, -3em);
}

.d5 {
    transform: translate(0, -2em);
}

.c5 {
    transform: translate(0, -1em);
}

.b4 {
    transform: translate(0, 0);
}

.a4 {
    transform: translate(0, 1em);
}

.g4 {
    transform: translate(0, 2em);
}

.f4 {
    transform: translate(0, 3em);
}

.e4 {
    transform: translate(0, 4em);
}

.d4 {
    transform: translate(0, 5em);
}

.c4 {
    transform: translate(0, 6em);
}

.circle {
    width: 100vw;
    height: 100vh;
    /* border-radius: 50%; */
    position: fixed;
    top: 8vh;
    left: 0;
    opacity: 0;
    animation-name: disappear;
    animation-duration: 5s;
    display: block;
    overflow: hidden;
    z-index: 0;
}

.circle:hover {
    opacity: 0;
}

@keyframes disappear {
    from {
        /* transform: translate(0%, 0%); */
        opacity: 0.5;
    }
    to {
        /* transform: translate(-30%, -50%); */
        opacity: 0;
    }
}